-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: upcycle_connect
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `annonces`
--

DROP TABLE IF EXISTS `annonces`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `annonces` (
  `id_annonce` int NOT NULL AUTO_INCREMENT,
  `titre` varchar(150) NOT NULL,
  `statut_validation` tinyint DEFAULT '0',
  `id_user_auteur` int NOT NULL,
  `description` text,
  `categorie` varchar(50) DEFAULT NULL,
  `type_annonce` varchar(10) DEFAULT 'don',
  `prix` decimal(10,2) DEFAULT '0.00',
  `statut_annonce` varchar(20) DEFAULT 'disponible',
  `motif_refus` varchar(255) DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_annonce`),
  KEY `id_user_auteur` (`id_user_auteur`),
  CONSTRAINT `annonces_ibfk_1` FOREIGN KEY (`id_user_auteur`) REFERENCES `utilisateurs` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `annonces`
--

LOCK TABLES `annonces` WRITE;
/*!40000 ALTER TABLE `annonces` DISABLE KEYS */;
/*!40000 ALTER TABLE `annonces` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `article_conseil`
--

DROP TABLE IF EXISTS `article_conseil`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `article_conseil` (
  `id_article` int NOT NULL AUTO_INCREMENT,
  `titre` varchar(255) NOT NULL,
  `contenu` text NOT NULL,
  `type` varchar(50) DEFAULT NULL,
  `id_auteur` int NOT NULL,
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_article`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `article_conseil`
--

LOCK TABLES `article_conseil` WRITE;
/*!40000 ALTER TABLE `article_conseil` DISABLE KEYS */;
INSERT INTO `article_conseil` VALUES (1,'je suis lia czjcndz','ecrivez jskzezein','conseil',3,'2026-06-05 14:38:09');
/*!40000 ALTER TABLE `article_conseil` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `box`
--

DROP TABLE IF EXISTS `box`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `box` (
  `id_box` int NOT NULL AUTO_INCREMENT,
  `adresse` varchar(255) NOT NULL,
  `capacite_max` int NOT NULL,
  PRIMARY KEY (`id_box`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `box`
--

LOCK TABLES `box` WRITE;
/*!40000 ALTER TABLE `box` DISABLE KEYS */;
INSERT INTO `box` VALUES (1,'52 avenue laplace',20),(2,'25 RUE ERARD',2);
/*!40000 ALTER TABLE `box` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `casiers`
--

DROP TABLE IF EXISTS `casiers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `casiers` (
  `id_casier` int NOT NULL AUTO_INCREMENT,
  `numero` varchar(10) NOT NULL,
  `statut` varchar(20) DEFAULT 'libre',
  `id_box` int NOT NULL,
  PRIMARY KEY (`id_casier`),
  KEY `id_box` (`id_box`),
  CONSTRAINT `casiers_ibfk_1` FOREIGN KEY (`id_box`) REFERENCES `box` (`id_box`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `casiers`
--

LOCK TABLES `casiers` WRITE;
/*!40000 ALTER TABLE `casiers` DISABLE KEYS */;
INSERT INTO `casiers` VALUES (1,'A2','occupe',1),(3,'A1','occupe',1),(4,'A3','libre',1),(5,'A1','occupe',2),(6,'A2','libre',2);
/*!40000 ALTER TABLE `casiers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `id_cat` int NOT NULL AUTO_INCREMENT,
  `code_ref_cat` varchar(50) NOT NULL,
  PRIMARY KEY (`id_cat`),
  UNIQUE KEY `code_ref_cat` (`code_ref_cat`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES (7,'Autre'),(1,'Bois'),(4,'Electronique'),(3,'Metal'),(5,'Plastique'),(2,'Textile'),(6,'Verre');
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `demandes_depot`
--

DROP TABLE IF EXISTS `demandes_depot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `demandes_depot` (
  `id_demande` int NOT NULL AUTO_INCREMENT,
  `statut_check` varchar(50) DEFAULT 'en_attente',
  `code_ouverture` varchar(10) DEFAULT NULL,
  `code_barre_scan` varchar(100) DEFAULT NULL,
  `motif_refus` varchar(255) DEFAULT NULL,
  `id_casier` int DEFAULT NULL,
  `date_demande` datetime DEFAULT CURRENT_TIMESTAMP,
  `id_user` int NOT NULL,
  `id_objet` int NOT NULL,
  `id_box` int NOT NULL,
  `id_artisan` int DEFAULT NULL,
  `code_artisan` varchar(10) DEFAULT NULL,
  `id_annonce` int DEFAULT NULL,
  PRIMARY KEY (`id_demande`),
  KEY `id_user` (`id_user`),
  KEY `id_objet` (`id_objet`),
  KEY `id_box` (`id_box`),
  KEY `id_casier` (`id_casier`),
  KEY `id_annonce` (`id_annonce`),
  CONSTRAINT `demandes_depot_ibfk_1` FOREIGN KEY (`id_user`) REFERENCES `utilisateurs` (`id_user`),
  CONSTRAINT `demandes_depot_ibfk_2` FOREIGN KEY (`id_objet`) REFERENCES `objets` (`id_objet`),
  CONSTRAINT `demandes_depot_ibfk_3` FOREIGN KEY (`id_box`) REFERENCES `box` (`id_box`),
  CONSTRAINT `demandes_depot_ibfk_4` FOREIGN KEY (`id_casier`) REFERENCES `casiers` (`id_casier`),
  CONSTRAINT `demandes_depot_ibfk_5` FOREIGN KEY (`id_annonce`) REFERENCES `annonces` (`id_annonce`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `demandes_depot`
--

LOCK TABLES `demandes_depot` WRITE;
/*!40000 ALTER TABLE `demandes_depot` DISABLE KEYS */;
/*!40000 ALTER TABLE `demandes_depot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etapes_projet`
--

DROP TABLE IF EXISTS `etapes_projet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `etapes_projet` (
  `id_etape` int NOT NULL AUTO_INCREMENT,
  `titre_etape` varchar(150) DEFAULT NULL,
  `description_etape` text,
  `image_etape` varchar(255) DEFAULT NULL,
  `ordre` int DEFAULT NULL,
  `id_projet` int NOT NULL,
  PRIMARY KEY (`id_etape`),
  KEY `id_projet` (`id_projet`),
  CONSTRAINT `etapes_projet_ibfk_1` FOREIGN KEY (`id_projet`) REFERENCES `projets` (`id_projet`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etapes_projet`
--

LOCK TABLES `etapes_projet` WRITE;
/*!40000 ALTER TABLE `etapes_projet` DISABLE KEYS */;
INSERT INTO `etapes_projet` VALUES (6,'wsh incr','on va peindre le bail','uploads/1782830245_IMG_9115.jpeg',1,4),(7,'j lai nq','vilouuuuuuu','uploads/1782830791_WIN_20260202_23_20_33_Pro.jpg',1,5),(8,'j lai nq','w├╣xlxwmlxlmcxml','',1,5),(9,'etape 1 jesia','ojdvuodnwonwdon','uploads/1782835142_Capture d\'├®cran 2026-02-14 135924.png',1,6);
/*!40000 ALTER TABLE `etapes_projet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evenements`
--

DROP TABLE IF EXISTS `evenements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evenements` (
  `id_event` int NOT NULL AUTO_INCREMENT,
  `titre` varchar(150) DEFAULT NULL,
  `type_event` varchar(50) DEFAULT NULL,
  `lieu` varchar(150) DEFAULT NULL,
  `description` text,
  `date_debut` datetime DEFAULT NULL,
  `prix_actuel` decimal(10,2) NOT NULL,
  `places_max` int NOT NULL,
  `statut_validation` tinyint DEFAULT '0',
  `motif_refus` varchar(255) DEFAULT NULL,
  `id_animateur` int NOT NULL,
  PRIMARY KEY (`id_event`),
  KEY `id_animateur` (`id_animateur`),
  CONSTRAINT `evenements_ibfk_1` FOREIGN KEY (`id_animateur`) REFERENCES `utilisateurs` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evenements`
--

LOCK TABLES `evenements` WRITE;
/*!40000 ALTER TABLE `evenements` DISABLE KEYS */;
INSERT INTO `evenements` VALUES (2,'atelier couture ',NULL,NULL,NULL,'2026-06-17 16:42:00',25.00,48,1,NULL,3),(3,'madame la directrice',NULL,NULL,NULL,'2026-06-19 16:20:00',20.00,8,1,NULL,3),(4,'atelier couture',NULL,NULL,NULL,'2026-06-27 16:26:00',80.00,8,1,NULL,3),(5,'evenement eco','Conf├®rence','salle B 11eme arrondissement','c une conference quoi','2026-06-17 19:08:00',75.00,10,1,NULL,3);
/*!40000 ALTER TABLE `evenements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscriptions`
--

DROP TABLE IF EXISTS `inscriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inscriptions` (
  `id_inscription` int NOT NULL AUTO_INCREMENT,
  `id_user` int NOT NULL,
  `id_event` int NOT NULL,
  `date_inscription` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_inscription`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscriptions`
--

LOCK TABLES `inscriptions` WRITE;
/*!40000 ALTER TABLE `inscriptions` DISABLE KEYS */;
INSERT INTO `inscriptions` VALUES (3,2,2,'2026-06-09 11:11:35'),(4,2,3,'2026-06-09 11:59:14'),(5,4,2,'2026-06-10 15:04:50'),(6,2,4,'2026-06-11 14:28:10'),(8,4,3,'2026-06-11 14:29:13'),(9,4,4,'2026-06-18 02:09:35');
/*!40000 ALTER TABLE `inscriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `langues`
--

DROP TABLE IF EXISTS `langues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `langues` (
  `id_langue` int NOT NULL AUTO_INCREMENT,
  `code_iso` varchar(5) NOT NULL,
  `nom_langue` varchar(50) NOT NULL,
  PRIMARY KEY (`id_langue`),
  UNIQUE KEY `code_iso` (`code_iso`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `langues`
--

LOCK TABLES `langues` WRITE;
/*!40000 ALTER TABLE `langues` DISABLE KEYS */;
INSERT INTO `langues` VALUES (3,'en','Anglais'),(4,'fr','Francais');
/*!40000 ALTER TABLE `langues` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `message_forums`
--

DROP TABLE IF EXISTS `message_forums`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `message_forums` (
  `id_message` int NOT NULL AUTO_INCREMENT,
  `contenu` text NOT NULL,
  `id_user_auteur` int NOT NULL,
  `date_message` datetime DEFAULT CURRENT_TIMESTAMP,
  `est_modere` tinyint DEFAULT '0',
  `id_message_parent` int DEFAULT NULL,
  PRIMARY KEY (`id_message`),
  KEY `id_user_auteur` (`id_user_auteur`),
  CONSTRAINT `message_forums_ibfk_1` FOREIGN KEY (`id_user_auteur`) REFERENCES `utilisateurs` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `message_forums`
--

LOCK TABLES `message_forums` WRITE;
/*!40000 ALTER TABLE `message_forums` DISABLE KEYS */;
INSERT INTO `message_forums` VALUES (1,'sdk je veux savoir jsp quoi bref lalala',2,'2026-06-02 10:42:13',0,NULL),(3,'jaime trop',2,'2026-06-02 10:49:05',0,1),(4,'heyyyy comment cv',4,'2026-06-08 19:35:41',0,NULL);
/*!40000 ALTER TABLE `message_forums` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mouvements_portefeuille`
--

DROP TABLE IF EXISTS `mouvements_portefeuille`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mouvements_portefeuille` (
  `id_mouvement` int NOT NULL AUTO_INCREMENT,
  `id_user` int NOT NULL,
  `montant` decimal(10,2) NOT NULL,
  `type` varchar(30) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `date_mouvement` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_mouvement`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mouvements_portefeuille`
--

LOCK TABLES `mouvements_portefeuille` WRITE;
/*!40000 ALTER TABLE `mouvements_portefeuille` DISABLE KEYS */;
INSERT INTO `mouvements_portefeuille` VALUES (2,1,74.40,'vente_prestation','Vente de votre prestation (commission d├®duite)','2026-06-10 13:58:35'),(3,4,46.50,'vente_prestation','Vente de votre prestation (commission d├®duite)','2026-06-10 14:12:05'),(4,4,46.50,'vente_prestation','Vente de votre prestation (commission d├®duite)','2026-06-10 14:24:53'),(5,4,-20.00,'retrait','Retrait vers votre compte bancaire','2026-06-11 12:12:10'),(7,2,37.20,'vente_objet','Vente de votre objet (commission d├®duite)','2026-06-11 14:24:40');
/*!40000 ALTER TABLE `mouvements_portefeuille` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id_notif` int NOT NULL AUTO_INCREMENT,
  `titre` varchar(150) DEFAULT NULL,
  `message` text,
  `date_envoi` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_notif`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `objets`
--

DROP TABLE IF EXISTS `objets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `objets` (
  `id_objet` int NOT NULL AUTO_INCREMENT,
  `description` text,
  `etat` varchar(50) DEFAULT NULL,
  `poids_estime` decimal(10,2) DEFAULT NULL,
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  `id_cat` int DEFAULT NULL,
  PRIMARY KEY (`id_objet`),
  KEY `id_cat` (`id_cat`),
  CONSTRAINT `objets_ibfk_1` FOREIGN KEY (`id_cat`) REFERENCES `categories` (`id_cat`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `objets`
--

LOCK TABLES `objets` WRITE;
/*!40000 ALTER TABLE `objets` DISABLE KEYS */;
INSERT INTO `objets` VALUES (1,'vieille chaise sah',NULL,NULL,'2026-06-05 15:03:40',2),(2,'sdvfdsfsvfs',NULL,NULL,'2026-06-05 15:51:04',3),(3,'une chaise cass├®e en bois une jambe en moins mais trql de fou en vrai ',NULL,NULL,'2026-06-09 11:44:55',4),(4,'je suis un truc ',NULL,NULL,'2026-06-10 12:50:59',NULL),(5,'je suis un truc ',NULL,NULL,'2026-06-10 12:51:04',2),(6,'faut sortir la kichta sah',NULL,NULL,'2026-06-10 12:55:23',3),(7,'bah unc asque quoi tu veux savoir quoi ',NULL,NULL,'2026-06-10 13:17:36',NULL),(8,'telelelelel',NULL,NULL,'2026-06-11 14:22:41',NULL);
/*!40000 ALTER TABLE `objets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `participants_projet`
--

DROP TABLE IF EXISTS `participants_projet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `participants_projet` (
  `id_participation` int NOT NULL AUTO_INCREMENT,
  `id_projet` int NOT NULL,
  `id_user` int NOT NULL,
  `tache` varchar(255) DEFAULT NULL,
  `statut` varchar(20) DEFAULT 'en_attente',
  `date_demande` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_participation`),
  KEY `id_projet` (`id_projet`),
  KEY `id_user` (`id_user`),
  CONSTRAINT `participants_projet_ibfk_1` FOREIGN KEY (`id_projet`) REFERENCES `projets` (`id_projet`) ON DELETE CASCADE,
  CONSTRAINT `participants_projet_ibfk_2` FOREIGN KEY (`id_user`) REFERENCES `utilisateurs` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `participants_projet`
--

LOCK TABLES `participants_projet` WRITE;
/*!40000 ALTER TABLE `participants_projet` DISABLE KEYS */;
INSERT INTO `participants_projet` VALUES (1,5,2,'','accepte','2026-06-30 15:24:41'),(5,6,3,'je surveille els gens moi tu sais deja ','accepte','2026-06-30 16:00:09');
/*!40000 ALTER TABLE `participants_projet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prestations`
--

DROP TABLE IF EXISTS `prestations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prestations` (
  `id_prestation` int NOT NULL AUTO_INCREMENT,
  `nom_prestation` varchar(150) NOT NULL,
  `prix` decimal(10,2) NOT NULL,
  `description` text,
  `photo` varchar(255) DEFAULT NULL,
  `id_createur` int DEFAULT NULL,
  `statut_validation` tinyint DEFAULT '0',
  `motif_refus` varchar(255) DEFAULT NULL,
  `vendu` tinyint DEFAULT '0',
  PRIMARY KEY (`id_prestation`),
  KEY `id_createur` (`id_createur`),
  CONSTRAINT `prestations_ibfk_1` FOREIGN KEY (`id_createur`) REFERENCES `utilisateurs` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prestations`
--

LOCK TABLES `prestations` WRITE;
/*!40000 ALTER TABLE `prestations` DISABLE KEYS */;
INSERT INTO `prestations` VALUES (4,'qSD',0.00,'XQSDVFBGFHG','uploads/1780677273_IMG_9115.jpeg',4,1,NULL,0),(6,'sdfgnhj',0.00,'salammm','uploads/1780677632_DJI_0280.JPG',4,0,NULL,0),(7,'chaise recycl├®e',50.00,'une bonne chise recycl├®e tres vintage','uploads/1781006184_WIN_20260202_23_20_33_Pro.jpg',4,1,NULL,1);
/*!40000 ALTER TABLE `prestations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projets`
--

DROP TABLE IF EXISTS `projets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `projets` (
  `id_projet` int NOT NULL AUTO_INCREMENT,
  `titre` varchar(150) NOT NULL,
  `description_generale` text,
  `est_sponsorise` tinyint DEFAULT '0',
  `id_createur` int NOT NULL,
  `adresse` varchar(255) DEFAULT NULL,
  `ville` varchar(100) DEFAULT NULL,
  `statut` varchar(20) DEFAULT 'en_cours',
  `photo_couverture` varchar(255) DEFAULT NULL,
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  `ouvert_participation` tinyint DEFAULT '1',
  `date_fin_sponsoring` datetime DEFAULT NULL,
  PRIMARY KEY (`id_projet`),
  KEY `id_createur` (`id_createur`),
  CONSTRAINT `projets_ibfk_1` FOREIGN KEY (`id_createur`) REFERENCES `utilisateurs` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projets`
--

LOCK TABLES `projets` WRITE;
/*!40000 ALTER TABLE `projets` DISABLE KEYS */;
/*!40000 ALTER TABLE `projets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recoit_notif`
--

DROP TABLE IF EXISTS `recoit_notif`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recoit_notif` (
  `id_user` int NOT NULL,
  `id_notif` int NOT NULL,
  `est_lue` tinyint DEFAULT '0',
  PRIMARY KEY (`id_user`,`id_notif`),
  KEY `id_notif` (`id_notif`),
  CONSTRAINT `recoit_notif_ibfk_1` FOREIGN KEY (`id_user`) REFERENCES `utilisateurs` (`id_user`),
  CONSTRAINT `recoit_notif_ibfk_2` FOREIGN KEY (`id_notif`) REFERENCES `notifications` (`id_notif`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recoit_notif`
--

LOCK TABLES `recoit_notif` WRITE;
/*!40000 ALTER TABLE `recoit_notif` DISABLE KEYS */;
/*!40000 ALTER TABLE `recoit_notif` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id_role` int NOT NULL AUTO_INCREMENT,
  `libelle_role` varchar(50) NOT NULL,
  PRIMARY KEY (`id_role`),
  UNIQUE KEY `libelle_role` (`libelle_role`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Admin'),(4,'Particulier'),(3,'Professionnel et Artisan'),(2,'Salarie');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `traductions`
--

DROP TABLE IF EXISTS `traductions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `traductions` (
  `id_traduction` int NOT NULL AUTO_INCREMENT,
  `cle` varchar(100) NOT NULL,
  `id_langue` int NOT NULL,
  `texte` text NOT NULL,
  PRIMARY KEY (`id_traduction`),
  UNIQUE KEY `cle` (`cle`,`id_langue`),
  KEY `id_langue` (`id_langue`),
  CONSTRAINT `traductions_ibfk_1` FOREIGN KEY (`id_langue`) REFERENCES `langues` (`id_langue`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=97 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `traductions`
--

LOCK TABLES `traductions` WRITE;
/*!40000 ALTER TABLE `traductions` DISABLE KEYS */;
/*!40000 ALTER TABLE `traductions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions`
--

DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactions` (
  `id_transac` int NOT NULL AUTO_INCREMENT,
  `montant` decimal(10,2) NOT NULL,
  `reference_stripe` varchar(255) DEFAULT NULL,
  `statut_paiement` varchar(50) DEFAULT NULL,
  `date_transac` datetime DEFAULT CURRENT_TIMESTAMP,
  `id_user` int DEFAULT NULL,
  `type` varchar(50) DEFAULT 'atelier',
  `commission` decimal(10,2) DEFAULT '0.00',
  PRIMARY KEY (`id_transac`),
  KEY `id_user` (`id_user`),
  CONSTRAINT `transactions_ibfk_1` FOREIGN KEY (`id_user`) REFERENCES `utilisateurs` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions`
--

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `types_abonnements`
--

DROP TABLE IF EXISTS `types_abonnements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `types_abonnements` (
  `id_type_abo` int NOT NULL AUTO_INCREMENT,
  `nom_offre` varchar(100) NOT NULL,
  `prix_mensuel_actuel` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id_type_abo`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `types_abonnements`
--

LOCK TABLES `types_abonnements` WRITE;
/*!40000 ALTER TABLE `types_abonnements` DISABLE KEYS */;
INSERT INTO `types_abonnements` VALUES (1,'Gratuit',0.00),(2,'Premium Artisan',29.99);
/*!40000 ALTER TABLE `types_abonnements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateurs`
--

DROP TABLE IF EXISTS `utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateurs` (
  `id_user` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `prenom` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `mot_de_passe` varchar(255) NOT NULL,
  `date_inscription` datetime DEFAULT CURRENT_TIMESTAMP,
  `score_upcycling` int DEFAULT '0',
  `onesignal_player_id` varchar(255) DEFAULT NULL,
  `est_actif` tinyint DEFAULT '1',
  `est_verifie` tinyint DEFAULT '1',
  `token_verification` varchar(64) DEFAULT NULL,
  `reset_token` varchar(64) DEFAULT NULL,
  `reset_token_expiry` datetime DEFAULT NULL,
  `id_role` int NOT NULL,
  `abonnement` varchar(20) DEFAULT 'gratuit',
  `date_fin_abonnement` datetime DEFAULT NULL,
  `abonnement_annule` tinyint DEFAULT '0',
  `solde` decimal(10,2) DEFAULT '0.00',
  `recompense_reclamee` tinyint DEFAULT '0',
  PRIMARY KEY (`id_user`),
  UNIQUE KEY `email` (`email`),
  KEY `id_role` (`id_role`),
  CONSTRAINT `utilisateurs_ibfk_1` FOREIGN KEY (`id_role`) REFERENCES `roles` (`id_role`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateurs`
--

LOCK TABLES `utilisateurs` WRITE;
/*!40000 ALTER TABLE `utilisateurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-01  9:57:49
